{% extends "logged_in_base.html" %}
{% block main %}
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <div class="col-12">
                <div class="row justify-content-center align-self-center">
                    <div class="col-4">
                        <div class="card border-danger">
                            <div class="card-header bg-danger text-white">
                                Trocar Senha
                            </div>
                            <div class="card-body">
                                {% if msg %}
                                <div class="alert alert-danger" role="alert">
                                    {{ msg }}
                                </div>
                                {% endif %}
                                <form action="pass" method="POST">
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="old_pass" placeholder="Senha antiga">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="new_pass" placeholder="Senha nova">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="confirm_pass" placeholder="Confirmar senha nova">
                                    </div>
                                    <button type="submit" class="btn btn-danger float-right">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
